@using ClassAttendance.Models.Enums
@model ClassAttendance.Web.ViewModels.LoaclEducationalInstitutionViewModel

@{
    ViewData["Title"] = "GetLocalEI";
}

<h2>Select country</h2>
<script src="~/js/EI/EI.js"></script>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetLocalEI" asp-controller="EducationalInstitution" asp-action="GetLocalEI" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <select asp-for="Country" name="@nameof(Model.Country)" asp-items="Html.GetEnumSelectList<Country>()" id="country-select" onchange="sendCountry()"></select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@if (Model.EducationalInstitutions != null)
{
    foreach (var item in Model.EducationalInstitutions)
    {
        <div style="background-color: cornsilk">
            <p>@item.Name</p>
        </div>
    }
}
<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

