@using ClassAttendance.Web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedResource


@using (Html.BeginForm("LogoutAsync", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav-item" }))
{
    @if (User.Identity.IsAuthenticated)
    {
        <li nav-item><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">@SharedResource["LogOut"] </a></li>
    }

    else
    {
        <li nav-item>@Html.ActionLink(SharedResource["SignIn"].Value.ToString() , "LoginAsync", "Account", null, new { @class = "nav-link", id = "loginLink" })</li>
    }
}